
body {
    background-color: navajowhite;
    background-image: url("bgdesert.jpg");
  }div {
    height: 444px;
    width: 100%;
    background-color: powderblue;
  }
  h1 {
    background-color: crimson;
  }
  
  div {
    background-color: red;
  }
  
  p {
    background-color: yellow;
  }
  #borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 50 round;
  }
  
  #borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% round;
  }
  
  #borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30% round;
  }